extends layout

block content
    h1 Vista del Personaje
    #container
        each personaje in personajes
            .card(style='width: 18rem;')
                img.card-img-top(src=personaje.image alt='...')
                .card-body
                h5.card-title #{personaje.name}
                p.card-text #{personaje.gender}
                p.card-text #{new Date(personaje.created).toString()}
                a.card-link(href=`${personaje.url}`) Descargar su ficha (JSON)
                a.card-link(href='/') Lista completa
